html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    /*credit to @_ighosh(uigradients)*/
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.toggle-nav {
    display: none;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header,
section,
.footer {
    /* border: 1px solid black; */
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
}

input {
    padding: 10px;
    border: 0;
}


/* flex-box container */

.flex-nav ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-nav li {
    flex: 3;
}

.flex-nav .social {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
        flex: 1 1 50%;
    }
    .flex-nav .social {
        flex: 1 1 25%;
    }
}

@media all and (max-width: 500px) {
    .flex-nav li {
        flex: 100%;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .main-container>* {
        order: 9999;
    }
    .flex-nav {
        order: 1;
    }
    .toggle-nav {
        display: block;
    }
    .flex-nav ul {
        display: none;
    }
    .flex-nav ul.open {
        display: flex;
    }
}